/* Numbered equations have a tendency not to be centered properly. This fixes that. */
.eqn-mouseover {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              padding-right: 50%;
}

/* This is the CSS that moves the chapter selection to be the always-on sidebar. Switches back to a dropdown at 760px wide or less (phone screens, shrunken browsers) */
@media only screen and (min-width : 761px) {
              a.dropbtn {
                             display: none;
              }

              div.dropdown-content {
                             display: block;
                             position: fixed;
                             overflow-y:scroll;
                             top: 0px;
                             left: 0px;
                             height: 100%;
                             width: 20%;
                             float: left;
              }

              html {
                             padding-left: 10%
              }
}

/* Removes some blank space in the code-tabs from xaringanExtra */
.panel-active section {
		padding-top: 0;
}

/* Coloring choices specific to The Effect */
ul.navbar {
		background-color: #167a4f;
}

#active-page {
		background-color: #167a4f;
}

li.toc {
		background-color: #21b575;
}

h1 {
	color: #167a4f;
	border-bottom-color: #167a4f;
}

h2 {
	color: #167a4f;
	border-bottom-color: #167a4f;
}
